<%- include("partials/header") -%> 

<div class="central1">
<div class="central">
<form action="/login" method="GET">
    <button type="submit" class="btn btn-primary btn-lg btn-outline-success">Login</button>
</form>
</div>
<div class="central">
<form action="/signup" method="GET">
    <button type="submit" class="btn btn-secondary btn-lg">SignUp</button>
</form>
</div>
</div>
<%- include("partials/footer") -%> 